{% extends "base.html" %}
{% load i18n %}
{% block title %}User Login{% endblock %}
{% block head %}User Login{% endblock %}
{% block content %}

<form action="." method="post">    
    <table class="table no_border_table table-condensed">
    	<tr>
    		<td>
    			{{ form.username.label }}:    			
    		</td>
    		<td>
    			{% if form.username.errors %}
					<div class="field field_error cb_inline">
						{{ form.username }}	{{ form.username.errors }}	
					</div>
				{% else %}
					{{form.username}}
				{% endif %}
    		</td>
    	</tr>
    	<tr>
    		<td>
    			{{ form.password.label }}:
    		</td>
    		<td>
    			{% if form.password.errors %}
				<div class="field field_error cb_inline">
			    	{{form.password}} {{form.password.errors}}                   	
				</div>
				{% else %}
					{{form.password}}
				{% endif %}    			
    		</td>
    	</tr>
    	<tr>
    		<td></td>
    		<td>
    			<input type="hidden" name="next" value="/" />
    			<input type="submit" value="{% trans 'Login' %}" class="btn btn-primary"/>
    		</td>
    	</tr>
    </table>           
    
	{% if form.errors %}	
		{% for key, err in form.errors.items %}
			{% if key == 'username' or key == 'password' %}
			{% else %}
				<div class="field field_error">{{err}}</div>
			{% endif%}
		{% endfor %}
	{% endif %}
    
    {% csrf_token %}
    
</form>
{% endblock %}


