{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'User Registration' %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="span6 offset3">
		<h1>{% trans 'Start Now with a Free Account' %}</h1>		
		<h3>{% trans 'Sign up in 30 seconds. No credit card required.' %}</h3>
	</div>
    <div class="span6 offset3">    	
		<form id="form_registration" class="cb_margin_top" method="post" action=".">
			<div class="parent">	    	
				<div class="well well-large">	
					{% show_row_div_below_error form.username %}
					{% show_row_div_below_error form.company_name %}
					{% show_row_div_below_error form.company_email %}
					{% show_row_div_below_error form.email %}
					{% show_row_div_below_error form.password %}
					{% show_row_div_below_error form.password2 %}
					{% show_row_div_below_error form.timezone %}
						
	    			<a id="registration-button" autocomplete="off" class="btn btn-primary btn-large cb-float-to-right">{% trans 'Sign Up' %}</a>    			
				</div>
			</div>    
    		{% csrf_token %}
		</form>
	</div>
</div>

{% endblock %}