body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.no_border_table th, .no_border_table td {
    border-top: 0;
}

.demo_table th, .demo_table td {
	border-top: 0;
	padding: 0px;
}

.demo_table td{
	width: 1em;
}

.sales_item_add_save_tr th, .sales_item_add_save_tr td {
	border-top: 0;
}

/*div.field_error {
	border: 2px solid #FF0000;
}*/

div.field_error input[type=text], div.field_error input[type=password], div.field_error select, li.field_error{
	color: red;
	border: 2px solid #FF0000;	 
}

div.field_error ul{
	font-size: 14px;
}


div.field_error li, div.field_error p, div.field_error{
	color: red;
}


.placeholder_fix_css:-moz-placeholder {
    color: #999999;
}

.hidden_cb{
	visibility: hidden;
}

.bold_cb{
	font-weight: bold;
}

.boxes_8em{
	width: 8em;
}

.boxes_7em{
	width: 7em;
}

.h3_padded{
	padding: 10px 0px 5px 0px;
}

td.center_cb{	
	text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}


.btn-success2, .btn-success2:hover {
    color: #333333;
    text-shadow: none;
}

.input_filter{
	width: 85px;
}

.cb_zero_margin{
	margin: 0;
}

#search_result li {
    list-style: none;
}

.cb_align_right {
    float: right;
}


.cb_inline ul, li {
    display: inline;
}

.cb_inline_block {
	display:inline-block;
}

.cb_vertical_align {
	vertical-align: middle;	
}

.cb_margin_top{
	margin-top: 25px;	
}

.cb_margin_left{
	margin-left: 40px;	
}

/*.modal-body {
    max-height: 800px;
}*/

select.cb_timezone {
	width: 175px;
	margin-bottom: 0px;
	margin-top: 5px;
}

form.cb_timezone{
	margin: 0 0 0 0;
}

a.btn-link{
	color: #333333;		
}

a.btn-link-left{	
	padding-right: 10px;	
}

.right-margin{
	margin-right: 5px;
}


.popover{
	z-index: 1030;
}

.first_th_minwidth{
	min-width: 5.5em;	
}

.input-append .double_date_filter{
	vertical-align: middle;	
}


.typeahead{
	z-index: 1051;
}



.logo{
    position: absolute;
    top: 5px;
    left: 25px;
    z-index: 1031    
}

.release_logo{    
    position: absolute;
    top: 23px;
    left: 60px;
    z-index: 1031
}

textarea { resize:vertical; width: auto;}

button.filter-button{
	left: 20px;
}

.filter-close {  
    float: none;
    position:absolute;
    right:50px;
    top:3px;
    z-index: 3;
}

div.filter-container {
    position:relative;
}

.cb_invite_table{
	border: 1px dashed #000;  	
}	

.cb_invite_table2{	
  	margin: 2em 2em 5em 2em;
  	padding: 2em;
}

.cb_invite_table3{	
  	margin: 0em -2em 0em 2em; 
}

.cb_invite_table4{	
 	margin: 0em 2em 0em 2em;
  	padding: 2em; 
}	

.cb_req_legend{
	margin: 0em 0em 3em 0em;
	padding: 0em;
}

td.minwidth{
	min-width: 5em;
}

.navbar .nav > li > a.cb_live_demo {
	background-color: orange;
	text-shadow: none;
	color: white;
}

.navbar .nav > li > a.cb_live_demo:hover, .navbar .nav > li > a.cb_live_demo:focus {
	background-color: transparent;	
	color: orange;
}

.cb_margin_top {
	margin-top: 40px;
}

.cb_margin_bottom{
	margin-bottom: 5px;
}

/*input.cb_edit_save{
	width: 55px;
}*/

.cb_date_width{
	min-width: 7em;
}

.cb_time_width{
	min-width: 5em;
}

.cb_subject_width{
	min-width: 10em;
}

.cb_notes_minwidth{
	min-width: 8em;
}

.cb_deals_minwidth{
	min-width: 5em;
}

.cb_date_maxwidth{
	width: 5.5em;
}

.cb_time_maxwidth{
	width: 5em;
}

.cb_subject_maxwidth{
	width: 10em;
}

.cb_notes_maxwidth{
	width: 16em;
	height: 7em;
}

.cb_deals_maxwidth{
	width: 6em;
}

th.test, td.test{
	min-width: 8em;
}

#save_edit_button, #cancel_edit_button{
	width: 1.5em;
}

.well
{
	width: 100%;
}

input[type="checkbox"]{
	margin: 0px;
}

.parent{
	display: table;
}

.row
{
    display: table-row;
}

.block_inline{
    display: table-cell;
    width: 50%;
    display:inline-block;
}

.icon-time{
	float: none; position: relative; right: 18px; top: -3px;
}

.modal-body {
	max-height: 520px;
}

.body_padding{
	padding-bottom: 10px;	
}

.cb_pager ul, .cb_pager ol{
	margin: 0px;
}

.cb_pager {
	margin: 0px;
}

.cb_btn{
	line-height: 19px;
}

.cb_btn_firefox_fix{
	height: 30px
}

#tasks_placement{
	margin: 2.5em 5px 0 0;
}

.cb_well-small{
	padding: 0px 5px 9px 9px;	
}

#call_contact_table{
	margin-top: 1em; 
}

#open_deal_table{
	margin-top: 1em;	
}

.open_deal_tr {
	cursor: pointer;
}

.event_textarea{
	width: 15em;
}

.event_date{
	width: 12em;
}

.event_reminder{
	width: 13em;
}

table.cb_table-hover > tbody > tr:hover > td:not(.override),
table.cb_table-hover > tbody > tr:hover > th:not(.override){
      background-color: #cfe2e8;  
}


.cb_table-striped tbody > tr:nth-child(odd) > td:not(.override),
.cb_table-striped tbody > tr:nth-child(odd) > th:not(.override) {
  background-color: #f9f9f9;
}


.cb_table-hover tbody tr .icon-search{
    visibility: hidden;
}


.cb_table-hover tbody tr:hover .icon-search{
    visibility: visible;
}

#business_card_modal_btn{
	width: 4em;	
	height: 1.2em;
}

#magnifier_glass_contacts{
	position:relative;
	left: -10px;	
}


#magnifier_glass_contacts,
	#magnifier_glass_contacts a:link,   
    #magnifier_glass_contacts a:visited,
    #magnifier_glass_contacts a:focus,
    #magnifier_glass_contacts a:hover,
    #magnifier_glass_contacts a:active
{
	text-decoration:none;	 
}

.left_bottom_table{
	margin-top: 2em;
}

.cb_deal_description{
	width: 20em;
	height: 7em;
}

.deal_tab-content{
	overflow: none;	
}

#modal_h3{
	padding: 0 0 0 5px;
}
