body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.edit_table th, .edit_table td {
    border-top: 0;
}

.sales_item_add_save_tr th, .sales_item_add_save_tr td {
	border-top: 0;
}

/*div.field_error {
	border: 2px solid #FF0000;
}*/

div.field_error input[type=text] , div.field_error select{
	color: red;
	border: 2px solid #FF0000;	 
}

div.field_error ul{
	font-size: 14px;
}



div.field_error li{
	color: red;
}


.placeholder_fix_css:-moz-placeholder {
    color: #999999;
}

.hidden_cb{
	visibility: hidden;
}

.bold_cb{
	font-weight: bold;
}

.select_status{
	width: 120px;
}

.h3_padded{
	padding: 10px 0px 5px 0px;
}

td.center_cb{	
	text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}


.btn-success2, .btn-success2:hover {
    color: #333333;
    text-shadow: none;
}

.input_filter{
	width: 85px;
}

.cb_zero_margin{
	margin: 0;
}

#search_result li {
    list-style: none;
}

.cb_align_right {
    float: right;
}

.cb_inline_block {
	display:inline-block;
}

.cb_vertical_align {
	vertical-align: middle;	
}

.cb_margin_top{
	margin-top: 25px;	
}

.cb_margin_left{
	margin-left: 40px;	
}

