body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.edit_table th, .edit_table td {
    border-top: 0;
}

/*div.field_error {
	border: 2px solid #FF0000;
}*/

div.field_error input, div.field_error select{ 
	color: red;
	border: 2px solid #FF0000; 
}

div.field_error li{
	color: red;
}


.placeholder_fix_css:-moz-placeholder {
    color: #999999;
}

.hidden_cb{
	visibility: hidden;
}

.bold_cb{
	font-weight: bold;
}
