{% load i18n %}
<table class="table edit" id="deals">	
    <tbody>    	    
        <tr class="hidden">
        	<td id="X" class="hidden">
        		{{extra_deal_formset.management_form}}
        		{% for fs in extra_deal_formset%}
        			{{fs.id}} 
        			{% include '_deal_edit_item.html' %}
        		{% endfor %}
        	</td>
        </tr>    
        <tr>
        	{{ attached_deals_formset.management_form }}
			{% if attached_deals_formset %}
				<td colspan="6">
					<ul id="attached_deals_tab" class="nav nav-tabs">
					{% for fs in attached_deals_formset %}
						{{ fs.id }}						
						<li class="{% if fs.errors %} field field_error{%endif%}">							
							<a href="#{{fs.deal_instance_name.value|slugify}}" data-toggle="tab">{{fs.deal_instance_name.value}}</a>
						</li>					
					{% endfor %}
					</ul>	
					<div class="deal_tab-content tab-content" id='tab-content'>
						{% for fs in attached_deals_formset %}
						{{ fs.id }}							
							<div class="tab-pane" id="{{fs.deal_instance_name.value|slugify}}">								
								{% include '_deal_edit_item.html' %}
							</div>
						{% endfor %}										
					</div>							
				</td>				
			{% endif %}
        </tr>
    	
	</tbody>
</table>
