{% load i18n %}
<tr>
	<td colspan="11">
		{% if show_paginator %}
			<div class="pager cb_pager">
			    <ul>		      
			      	{% if has_prev%}
			      	<li>
			        	<a class="paginator_nav_links" href="{{source}}?ajax&page={{ prev_page }}">&laquo; {% trans 'Previous' %}</a>
			        </li>
			      	{% endif %}		      
		          	{% if has_next %}
		          	<li>
		          		<a class="paginator_nav_links" href="{{source}}?ajax&page={{ next_page }}">{% trans 'Next' %} &raquo;</a>
		          	</li>
			      	{% endif %}		      		      
			    </ul>
			    <div>
		    		{% blocktrans with p=page ps=pages%}Page {{ p }} of {{ ps }}{% endblocktrans %}
		    	</div>
		   	</div>		    
	  	{% endif %}
  	</td>
</tr>