{% load i18n %}
<table class="table table-condensed table-striped cb_table-hover">
    <thead>
        <tr class="well cb_well-small">
            <th class="first_th_minwidth">
            </th>            
            <th id="sales_item_filter">
            	
            	<form action="sales_items/" method="get" class="form-search cb_zero_margin form-filter-ajax">	    				
    				<div class="input-append filter-container">
    				{{filter_form.item_name}}<div class="close filter-close">&times;</div><button type="submit" class="btn"><i class='icon-filter'> </i></button>
    				</div>	   <br> 
    				<h5>{% trans 'Sales Item' %}</h5>
            	</form>            	                	
        	</th>        	                    
        </tr>
    </thead>
    <tbody id="search_result">
    	{% include 'sales_item_list.html' %}        	
    </tbody>
</table>