{% load i18n %}
<table class="table">
    <thead>
        <tr>
            <th class="first_th_minwidth">
<!--             	<a class="btn" href="/deals" title="{% trans 'Back to Deals' %}"><i class="icon-arrow-left"> </i></a>                	                	 -->
            </th>
            <th>
            	<form action="." method="get" class="form-search cb_zero_margin form-filter-ajax">	    				
    				<div class="input-append filter-container">
    				{{filter_form.item_name}}<div class="close filter-close">&times;</div><button type="submit" class="btn"><i class='icon-filter'> </i></button>
    				</div>	   <br> 
    				{% trans 'Sales Item' %}
            	</form>                	
        	</th>                    
        </tr>
    </thead>
    <tbody id="search_result">
    	{% include 'sales_item_list.html' %}        	
    </tbody>
</table>