{% load i18n %}
<tr>
	<td colspan="11">
		{% if task_show_paginator %}
		    <div class="pager cb_pager">
	    		<ul>
		      		{% if task_has_prev%}
		      		<li>		      
		        		<a class="paginator_nav_links" href="/tasks/?ajax&page={{ task_prev_page }}&contact={{contact_id}}">&larr;</a>
		        	</li>	          
		      		{% endif %}		      
	          		{% if task_has_next %}
	          		<li>	          	
	          			<a class="paginator_nav_links" href="/tasks/?ajax&page={{ task_next_page }}&contact={{contact_id}}">&rarr;</a>
	          		</li>
		      		{% endif %}
		      	</ul>		     
			    <div>
			    	{% blocktrans with p=task_page ps=task_pages%}Page {{ p }} of {{ ps }}{% endblocktrans %}
			    </div>		      
		    </div>
	  	{% endif %}
  	</td>
</tr>