{% load i18n %}
{% load compressed %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Chasebot | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
    <script src="{{ STATIC_URL }}jquery/jquery-1.8.1.min.js"></script>   
    <script type="text/javascript">  
    	$.chasebot = {} // namespace
    	$.chasebot.STATIC_URL = '{{ STATIC_URL }}';
	</script>

    <!-- <script type="text/javascript" src="{{ STATIC_URL }}chasebot/chasebot_base.js" ></script> --> 
    {% compressed_js 'chasebot_js' %}
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}famfamfam_flags/famfamfam-flags.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}font_awesome/css/font-awesome.css" rel="stylesheet">
    <!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}chasebot/chasebot_styles.css" /> -->
    {% compressed_css 'chasebot_css' %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}bootstrap-datepicker/css/datepicker.css" />
    <script src="{{ STATIC_URL }}chosen/chosen/chosen.jquery.min.js"></script>
    <script src="{{ STATIC_URL }}raty/js/jquery.raty.min.js"></script>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}chosen/chosen/chosen.css" />
	<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>	
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
	<link href="{{ STATIC_URL }}font_awesome/css/font-awesome-ie7.css" rel="stylesheet">    	
	<![endif]-->	
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}bootstrap/ico/chasebot_favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-57-precomposed.png">
    {% block external %}{% endblock %}
</head>

<body> 
<div id="locale" class="hidden">{{locale}}</div>
<div class="logo"><img src="{{ STATIC_URL }}bootstrap/ico/chasebot_logo_mini.png" /></div>   
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="http://www.chasebot.com">Chasebot</a>
            <img class="release_logo" src="{{ STATIC_URL }}/img/alpha.png" />
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/">{% trans 'Home' %}</a></li>
                    <!-- <li><a href="#about">{% trans 'About' %}</a></li> -->
                    <!-- <li><a href="#contact">{% trans 'Contact' %}</a></li> -->

                    {% if user.is_authenticated %}
                    	<li><a href="/colleague/invite/">{% trans 'Invite' %}</a></li>
                    	<li><a href="/logout/">{% trans 'Logout' %}</a></li>
                    {% else %}
                    	<li><a href="/login/">{% trans 'Login' %}</a></li>
                    	<li><a href="/register/">{% trans 'Register' %}</a></li>
                    	<li><a class="cb_live_demo" href="/demo/">{% trans 'Live Demo' %}</a></li>
                    {% endif %}

                </ul>
            </div><!--/.nav-collapse -->
            <div class="pull-right">
				<div class="cb_inline_block">			     
				    {% load tz %}{% load url from future %} 
					<form id="timezone_form" class="cb_timezone cb_inline_block" action="/timezone/" method="POST">
					    {% csrf_token %}
					    <select id="timezone_dropdown" class="cb_timezone right-margin" data-trigger="manual" role="menu" aria-labelledby="dropdownMenu" name="timezone" data-content="{% trans 'Please set your current time zone here' %}" rel="popover" data-placement="left">
				        {% for tz in timezones %}
					        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
				        {% endfor %}
					    </select>
					</form>
					<a class="btn btn-small cb_inline_block icon timezone_help right-margin" href="#"><i class="icon-question-sign icon-large"></i></a>
				</div>
			    <div class="dropdown cb_inline_block">
			    	{% get_current_language as LANGUAGE_CODE %} 
			        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">{% trans 'Language' %} <span class="caret"></span> {% if LANGUAGE_CODE == 'en-gb' %}&nbsp;<i class="famfamfam-flag-gb"></i>{% elif LANGUAGE_CODE == 'en'%}&nbsp;<i class='famfamfam-flag-us'></i>{% elif LANGUAGE_CODE == 'es' %}&nbsp;<i class='famfamfam-flag-es'></i>{% endif %}</a> 
			        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
					    {% for lang in LANGUAGES %}
					        <li>
			                    <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">{% csrf_token %}
								   <input name="next" type="hidden" value="{{ redirect_to }}" />
								   <input type="hidden" name="language" value="{{ lang.0 }}" />
								   <a href="#" onclick="document.getElementsByName('setLang{{ lang.1}}')[0].submit(); return false;">
								   {% if lang.0 == 'en-gb' %}<i class="famfamfam-flag-gb"></i>{% elif lang.0 == 'en' %}<i class="famfamfam-flag-us"></i>{% elif lang.0 == 'es' %}<i class="famfamfam-flag-es"></i>{% endif %} {{ lang.1 }}
								   </a>
								</form>
			                </li>
			            {% endfor %}    
					</ul>
					
			    </div>
			</div>
        </div>
    </div>
</div>

<div class="container">
    <h2>{% block head %}{% endblock %}</h2>
    
	{% if messages %}		
		  {% for message in messages %}		  
		  	{% if message.tags %}
		  		{%if message.tags == 'success'%}
		  		<div class="alert alert-success">		  			
		  		{% elif message.tags == 'error' %}
		  			<div class="alert alert-error">		  		
		  		{% elif message.tags == 'info' %}
		  			<div class="alert alert-info">
	  			{% elif message.tags == 'warning' %}
	  				<div class="alert">
		  		{% endif %}
		  			<button type="button" class="close" data-dismiss="alert">×</button>
		  			{{ message }}
		  			</div>		    
		  	{% endif %}		  
		  {% endfor %}		
	  {% endif %}
    <p>
        {% block content %}{% endblock %}
    </p>
</div> <!-- /container -->

<div id='footer'>		
	
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<Script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></Script>
<Script src="{{ STATIC_URL }}bootstrap-datepicker/js/bootstrap-datepicker.js"></Script>


</body>
</html>