{% load i18n %}
<div class="modal-header">
	<button type="button" class="close close_link" data-dismiss="modal" aria-hidden="true">&times;</button>	
	<h3><div class="cb_inline_block" style="font-size: 24px;"><i class="icon-search"></i></div> {% trans 'Business Card' %}</h3>
</div>
<div class="modal-body">
	<div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab1" data-toggle="tab">{% trans 'Basic' %}</a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">{% trans 'Personal' %}</a>
            </li>
            <li>
                <a href="#tab3" data-toggle="tab">{% trans 'Personality Notes' %}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row-fluid">
                	<div class="span12">
                		<div class="row-fluid">
						    <div class="span6">
						        <table class="table no_border_table table-condensed">
						            <tbody class="well well-small">
							            <tr>
							            	<td>
							            		{% trans 'First Name' %}:
							            	</td>
							                <td>                    
							                    {{ contact.first_name}}
							                </td>				                
							            </tr>
							            <tr>
							            	<td>
							            		{% trans 'Last Name' %}:
							            	</td>
							                <td>
							                    {{ contact.last_name }}
							                </td>				                
							            </tr>
							            <tr>
							            	<td>
							            		{% trans 'Preferred Name' %}:
							            	</td>
							                <td>
							                	{{contact.dear_name}}
							                </td>
							            </tr>
							            <tr>
							            	<td>
							            		{% trans 'Company' %}:
							            	</td>
							                <td>
							                	{{contact.company_name}}
						                	</td>				                
							            </tr>
							           </tbody>
							          </table>
							          <table class="table no_border_table table-condensed">
							           <tbody class="well well-small left_bottom_table">
							            <tr>
							            	<td>
							            		{% trans 'Phone' %}:
							            	</td>
							                <td>           
							                	{{contact.phone}}				                    
							                </td>
							            </tr>
							            <tr>
							                <td>
							                	{% trans 'Cell Phone' %}:				                	                    
							                </td>
							                <td>
							                	{{contact.mobile_phone}}
							                </td>
							            </tr>							            
							            <tr>
							                <td>
							                	{% trans 'Fax Number' %}:				                	                    
							                </td>
							                <td>
							                	{{contact.fax_number}}
							                </td>
							            </tr>
							            <tr>
							                <td>
							                	{% trans 'Important Client' %}:				                	                    
							                </td>
							                <td class="rating center_cb">
							                	<div class="hidden">
							                		{{ contact.important_client}}
							            		</div>
							                	<div class="star_small"></div>
							            	</td>
							            </tr>
						            </tbody>
						        </table>
						    </div>
						    <div class="span6">
						        <table class="table no_border_table table-condensed well well-small">
						            <tbody>
						            	<tr>
							                <td>
							                	{% trans 'Email' %}:				                	                    
							                </td>
							                <td>
							                	{{contact.email}}
							                </td>
							            </tr>						            	
						            	<tr>
							                <td>
							                	{% trans 'Position' %}:				                	                    
							                </td>
							                <td>
							                	{{contact.position}}
							                </td>
							            </tr>
						            	<tr>
							                <td>
							                	{% trans 'Sex' %}:				                	                    
							                </td>
							                <td>
							                	{{contact.get_gender_display}}
							                </td>
							            </tr>
						           </tbody>
					           </table>
					           <table class="table no_border_table table-condensed well well-small">
					           		<tbody>
						            	<tr>
							                <td>
							                	{% trans 'Address' %}:				                	                    
							                </td>
							                <td>
							                	{{contact.address}}
							                </td>
							            </tr>
						            	<tr>
							                <td>
							                	{% trans 'State' %}:				                	                    
							                </td>
							                <td>
							                	{{contact.state}}
							                </td>
							            </tr>
						            	<tr>
							                <td>
							                	{% trans 'City' %}:				                	                    
							                </td>
							                <td>
							                	{{contact.city}}
							                </td>
							            </tr>
						            	<tr>
							                <td>
							                	{% trans 'Zip Code' %}:				                	                    
							                </td>
							                <td>
							                	{{contact.postcode}}
							                </td>
							            </tr>
						            	<tr>
							                <td>
							                	{% trans 'Country' %}:				                	                    
							                </td>
							                <td>
							                	{{contact.get_country_display}}
							                </td>
							            </tr>
						            </tbody>
						        </table>
						    </div>
						</div>
					</div>
				</div>
            </div>
            <div class="tab-pane" id="tab2">                	
                <div class="row-fluid">
                	<div class="span12">
                		<div class="row-fluid">
				    		<div class="span6">
						        <table class="table no_border_table table-condensed well well-small">
						            <tbody>
						                <tr>
						                    <td>  
						                    	{% trans 'Birthday' %}:				                        
						                    </td>
						                    <td>
						                    	{{contact.birth_date}}
						                    </td>				                    
						                </tr>
						                <tr>
						                    <td>  
						                    	{% trans 'Home Town' %}:				                        
						                    </td>
						                    <td>
						                    	{{contact.home_town}}
						                    </td>				                    
						                </tr>
						                <tr>
						                    <td>  
						                    	{% trans 'Referred By' %}:				                        
						                    </td>
						                    <td>
						                    	{{contact.referred_by}}
						                    </td>				                    
						                </tr>
						                <tr>
						                    <td>  
						                    	{% trans "Contact's Interests" %}:				                        
						                    </td>
						                    <td>
						                    	{{contact.contacts_interests}}
						                    </td>				                    
						                </tr>	
						                <tr>
						                	<td>
						                		{% trans "Pets" %}:
						                	</td>
						                	<td>
						                		{{contact.pet_names}}
						                	</td>
						                </tr>			                
						            </tbody>
						        </table>
						    </div>
						    <div class="span6">
						        <table class="table no_border_table table-condensed well well-small">
						            <tbody>
						                <tr>
						                    <td>  
						                    	{% trans 'Marital Status' %}:				                        
						                    </td>
						                    <td>
						                    	{{contact.marital_status}}
						                    </td>				                    
						                </tr>
						                <tr>
						                    <td>  
						                    	{% trans "Spouse's First Name" %}:				                        
						                    </td>
						                    <td>
						                    	{{contact.spouse_first_name}}
						                    </td>				                    
						                </tr>
						                <tr>
						                    <td>  
						                    	{% trans "Spouse's Interests" %}:
						                    </td>
						                    <td>
						                    	{{contact.spouses_interests}}
						                    </td>				                    
						                </tr>
						                <tr>
						                    <td>  
						                    	{% trans 'Children Names' %}:				                        
						                    </td>
						                    <td>
						                    	{{contact.children_names}}
						                    </td>				                    
						                </tr>
						                <tr>
						                    <td>  
						                    	{% trans 'Previous Meeting Places' %}:				                        
						                    </td>
						                    <td>
						                    	{{contact.prev_meeting_places}}
						                    </td>				                    
						                </tr>
						            </tbody>
						        </table>
						    </div>
						</div>
					</div>
				</div>
            </div>
        	<div class="tab-pane" id="tab3">
        		<div class="row-fluid">
                	<div class="span12 well well-small">        		
		        		<div>
		        			{% if contact.contact_notes %}
		        				{{contact.contact_notes}}
		    				{% else %}
		    					{% trans 'No notes found.' %}
							{% endif %}
		        		</div>
	        		</div>
        		</div>
    		</div>
        </div>
    </div>
</div>
<div class="modal-footer">
	<a href="#" class="btn close_link" data-dismiss="modal">{% trans 'Close' %}</a>	
</div>