{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Chasebot - Conversation History' %}{% endblock %}
{% block head %}{% trans 'Conversations with' %} {{contact.first_name}} {{ contact.last_name }}{% endblock %}
{% block external %}
{% endblock %}
{% block content %}	
	<table class="table">
                <thead>
                    <tr>
                        <th><a class="btn btn-success" href="/" title="{% trans 'Back to Main Screen' %}"><i class="icon-arrow-left"> </i></a>
                        	<a class="btn btn-success" href="/contact/{{ contact.id }}/call/add" title="{% trans 'New Conversation' %}"> <i class="icon-plus"> </i><i class="icon-comment"> </i></a></th>
                        <th>{% trans 'Date' %}</th>
                        <th>{% trans 'Time' %}</th>
                        <th>{% trans 'Subject' %}</th>
                        <th>{% trans 'Notes' %}</th>                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in calls %}
                    <tr>
                        <td>                        	
                            <a href="/contact/{{ contact.id }}/call/edit/{{ item.id }}" title="{% trans 'Edit' %}"> <i class="icon-pencil"> </i></a>
                            <a href="/contact/{{ contact.id }}/call/delete/{{ item.id }}" title="{% trans 'Delete' %}"><i class="icon-trash"> </i></a>
                        </td>
                        <td>{{ item.contact_date }}</td>
                        <td>{{ item.contact_time }}</td>
                        <td>{{ item.subject }}</td>
                        <td>{{ item.notes }}</td>                        
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}
