{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ template_title }}{% endblock %}
{% block external %}
	<script type="text/javascript" src="/site_media/jqPlot/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="/site_media/jqPlot/plugins/jqplot.pieRenderer.min.js"></script>
	<link href="/site_media/jqPlot/jquery.jqplot.css" type="text/css" rel="stylesheet">	
	<script type="text/javascript" src="/site_media/chasebot_charts.js"></script>
{% endblock %}
{% block head %}{{ template_title }}{% endblock %}
{% block content %}
{% if deals %}
<table class="table edit_table">
	<thead>
		<tr>
			<td class="bold_cb">Deal</td>
			<td class="bold_cb">Status</td>
			<td class="bold_cb">Contact Date</td>
			<td class="bold_cb">Contact Time</td>
			<td class="bold_cb">Conversation Subject</td>
		</tr>
	</thead>
	<tbody>		
		{% for deal in deals %}
		<tr class="{{forloop.counter0}}">
			<td>
				{{deal.deal_type}} - Set No. {{deal.set}}
			</td>
			<td>
				{{deal.status}}
			</td>
			<td>
				{{deal.conversation.contact_date}}
			</td>
			<td class="call_time">
				{{deal.conversation.contact_time}}
			</td>
			<td>
				{{deal.conversation}}
			</td>			
		</tr>		
		{% endfor %}
		<div id="stac" class="hidden">
			{% for k,v in stac.items %}
			<div id={{k}}>{{v}}</div>
			{% endfor %}
		</div>
	</tbody>
</table>

<div id="chartdiv" style="height: 300px; width: 500px; position: relative;">
		
</div>

{% else %}
<p>{% trans 'No data recorded yet...'%}</p>
{% endif %}	

{% endblock %}
