{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Charts' %}{% endblock %}
{% block external %}
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqPlot/excanvas.min.js"></script><![endif]-->
	<script type="text/javascript" src="{{ STATIC_URL }}jqPlot/jquery.jqplot.min.js"></script>	 
	<script type="text/javascript" src="{{ STATIC_URL }}jqPlot/plugins/jqplot.pieRenderer.min.js"></script>
	<link href="{{ STATIC_URL }}jqPlot/jquery.jqplot.css" type="text/css" rel="stylesheet">	
	<script type="text/javascript" src="{{ STATIC_URL }}chasebot/chasebot_charts.js"></script>
{% endblock %}
{% block head %}{{ template_title }}{% endblock %}
{% block content %}
<ul class="breadcrumb">
	<li><a href="/">{% trans 'Home' %}</a> <span class="divider">/</span></li>
	<li class="active">{% trans 'Charts'%}</li>	    	
</ul>
<h2><i class="icon-bar-chart"></i> {% blocktrans with firstname=contact.first_name lastname=contact.last_name%}Historical Charts with {{firstname}} {{lastname}}{% endblocktrans %}</h2>
<h4 class="h3_padded">{% trans 'Time of Sales Conversations' %}</h4>
{% if deals %}
<p>
	<a class="btn" href="/" title="{% trans 'Back to Main Screen' %}"><i class="icon-arrow-left"> </i></a>
</p>
<table class="table no_border_table table-condensed">
	<thead>
		<tr>
			<th class="bold_cb">Deal</th>
			<th class="bold_cb">Status</th>
			<th class="bold_cb">Contact Date</th>
			<th class="bold_cb">Contact Time</th>			
		</tr>
	</thead>
	<tbody>		
		{% for deal in deals %}
		<tr class="{{forloop.counter0}}">			
			<td>
				{{deal.status}}
			</td>
			<td>
				{{deal.conversation.conversation_datetime}}
			</td>
			<td class="call_time">
				{{deal.conversation.conversation_datetime}}
			</td>
			<td>
				{{deal.conversation}}
			</td>			
		</tr>		
		{% endfor %}
		<div id="stac" class="hidden">
			{% for k,v in stac.items %}
			<div id={{k}}>{{v}}</div>
			{% endfor %}
		</div>
	</tbody>
</table>

<div id="chartdiv" style="height: 300px; width: 500px; position: relative;">
		
</div>

{% else %}
<p>{% trans 'No data recorded yet...'%}</p>
{% endif %}	

{% endblock %}
