<div class="span12">
    <div class="span6">
        <table class="table no_border_table table-condensed">
            <tbody>
            <tr>
                <td>                    
                    {% if  form.first_name.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.first_name.label}}: *</div>{%else%}{{form.first_name.label}}:{% endif %}
                </td>
                <td>                    
                	{{form.first_name}}
                	<div class="hide field field_error"></div>
                </td>
            </tr>
            <tr>
                <td>
                    {% if  form.last_name.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.last_name.label}}: *</div>{%else%}{{form.last_name.label}}:{% endif %}
                </td>
                <td>                    
                	{{form.last_name}}
                	<div class="hide field field_error"></div>                	                	
                </td>
            </tr>
            <tr>
                <td>
                	{% if  form.dear_name.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.dear_name.label}}: *</div>{%else%}{{form.dear_name.label}}:{% endif %}                    
                </td>
                <td>                	
                    {{form.dear_name}}                   	
                	<div class="hide field field_error"></div>                	
                </td>
            </tr>
            <tr>
                <td>
                	{% if  form.company_name.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.company_name.label}}: *</div>{%else%}{{form.company_name.label}}:{% endif %}                    
                </td>
                <td>                	
                	{{form.company_name}}                	  
                	<div class="hide field field_error"></div>              	
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>                    
                    {% if  form.email.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.email.label}}: *</div>{%else%}{{form.email.label}}:{% endif %}
                </td>
                <td>                	
                	{{form.email}}
                	<div class="hide field field_error"></div>                	
                </td>
            </tr> 
            <tr>
                <td>                    
                    {% if  form.phone.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.phone.label}}: *</div>{%else%}{{form.phone.label}}:{% endif %}
                </td>
                <td>                	
                    {{form.phone}}
                    <div class="hide field field_error"></div>                	                	
                </td>
            </tr>
            <tr>
                <td>
                	{% if  form.mobile_phone.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.mobile_phone.label}}: *</div>{%else%}{{form.mobile_phone.label}}:{% endif %}                    
                </td>
                <td>                	
                	{{form.mobile_phone}}
                	<div class="hide field field_error"></div>                	                	
                </td>
            </tr>
            <tr>
                <td>
                	{% if  form.fax_number.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.fax_number.label}}: *</div>{%else%}{{form.fax_number.label}}:{% endif %}                    
                </td>
                <td>                	
                	{{form.fax_number}}
                	<div class="hide field field_error"></div>                	
                </td>
            </tr>            
            </tbody>
        </table>
    </div>

    <div class="span6">
        <table class="table no_border_table table-condensed">
            <tbody>
            <tr>
                <td>
                	{% if  form.important_client.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.important_client.label}}: *</div>{%else%}{{form.important_client.label}}:{% endif %}                    
                </td>
                <td>
                	<div class='hidden'>
                		{{form.important_client}}
            		</div>
                	<div id="star"></div>
                </td>
            </tr>                       
            <tr>
                <td>                    
                    {% if  form.position.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.position.label}}: *</div>{%else%}{{form.position.label}}:{% endif %}
                </td>
                <td>                	
                    {{form.position}}
                	<div class="hide field field_error"></div>       	
                </td>
            </tr>
            <tr>
                <td>
                	{% if  form.gender.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.gender.label}}: *</div>{%else%}{{form.gender.label}}:{% endif %}
                </td>
                <td>                	
                	{{form.gender}}
                	<div class="hide field field_error"></div>                	
                </td>
            </tr>
            <tr>
                <td>                    
                    {% if  form.address.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.address.label}}: *</div>{%else%}{{form.address.label}}:{% endif %}
                </td>
                <td>                	
                	{{form.address}}
                	<div class="hide field field_error"></div>               	
                </td>
            </tr>
            <tr>
                <td>
                	{% if  form.state.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.state.label}}: *</div>{%else%}{{form.state.label}}:{% endif %}                    
                </td>
                <td>        			
                	{{form.state}}
                	<div class="hide field field_error"></div>			
                </td>
            </tr>
            <tr>
                <td>                    
                    {% if  form.city.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.city.label}}: *</div>{%else%}{{form.city.label}}:{% endif %}
                </td>
                <td>                    
                	{{form.city}}
                	<div class="hide field field_error"></div>
                </td>
            </tr>
            <tr>
                <td>
                	{% if  form.postcode.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.postcode.label}}: *</div>{%else%}{{form.postcode.label}}:{% endif %}                    
                </td>
                <td>                	
                	{{form.postcode}}
                	<div class="hide field field_error"></div>
                </td>
            </tr>
            <tr>
                <td>                    
                    {% if  form.country.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.country.label}}: *</div>{%else%}{{form.country.label}}:{% endif %}
                </td>
                <td>                	
                	{{form.country}}
                	<div class="hide field field_error"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>