<div class="span12">
    <div class="span6">
        <table class="table edit_table">
            <tbody>
                <tr>
                    <td>
                        {{form.birth_date.label}}:
                    </td>
                    <td>
                        {{form.birth_date}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{form.home_town.label}}:
                    </td>
                    <td>
                        {{form.home_town}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{form.referred_by.label}}:
                    </td>
                    <td>
                        {{form.referred_by}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{form.contacts_interests.label}}:
                    </td>
                    <td>
                        {{form.contacts_interests}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{form.contact_notes.label}}:
                    </td>
                    <td>
                        {{form.contact_notes}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <table class="table edit_table">
            <tbody>
                <tr>
                    <td>
                        {{form.marital_status.label}}:
                    </td>
                    <td>
                        {{form.marital_status}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{form.spouse_first_name.label}}:
                    </td>
                    <td>
                        {{form.spouse_first_name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{form.spouses_interests.label}}:
                    </td>
                    <td>
                        {{form.spouses_interests}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{form.children_names.label}}:
                    </td>
                    <td>
                        {{form.children_names}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{form.prev_meeting_places.label}}:
                    </td>
                    <td>
                        {{form.prev_meeting_places}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>