
<form class="well" method="post" action="/contact/edit/{{ contact_id }}/">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Basic Information</h3>
    </div>
    <div class="modal-body">
        {% csrf_token %}

        <div class="row-fluid">
            <div class="span12">

                <div class="row-fluid">
                    <div class="span6">
                        <p>
                            {{form.first_name.label}}: {{form.first_name}}
                            {{form.last_name.label}}: {{form.last_name}}
                            {{form.dear.label}}: {{form.dear}}
                            {{form.company_name.label}}: {{form.company_name}}
                        </p>
                        <p>
                            {{form.work_phone.label}}: {{form.work_phone}}
                            {{form.mobile_phone.label}}: {{form.mobile_phone}}
                            {{form.home_phone.label}}: {{form.home_phone}}
                            {{form.fax_number.label}}: {{form.fax_number}}
                        </p>
                    </div>
                    <div class="span6">
                        <p>
                            {{form.email.label}}: {{form.email}} {{form.email.errors}}
                            {{form.contact_type.label}}: {{form.contact_type}}
                            {{form.position.label}}: {{form.position}}
                            {{form.gender.label}}: {{form.gender}}
                        </p>
                        <p>
                            {{form.address.label}}: {{form.address}}
                            {{form.city.label}}: {{form.city}}
                            {{form.postcode.label}}: {{form.postcode}}
                            {{form.country.label}}: {{form.country}}
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="modal-footer">
        <!--<input class="btn btn-primary" type="submit" value="Save" />-->
        <!--<input name="cancel" class="btn" type="submit" value="Cancel"/>-->
        <button type="button" data-dismiss="modal"><input name="cancel" class="btn btn-primary" type="submit" value="Cancel"/></button>


    </div>

</form>
