{% load i18n %}
{% if contacts %}
	{% for item in contacts %}
            <tr>
                <td>
                    <span>
                	<a class="btn-link btn-link-left" href="/contact/edit/{{ item.id }}" title="{% trans 'Edit Contact' %}"><i class="icon-pencil icon-large"> </i></a>
                    <a class="btn-link row_delete_ajax" href="/contact/delete/{{ item.id }}" title="{% trans 'Delete Contact' %}"><i class="icon-trash icon-large"> </i></a>
                   </span>
                </td>
                <td>{{ item.last_name }}</td>
                <td>{{ item.first_name }}</td>
                <td>{{ item.dear }}</td>
                <td>{{ item.company_name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.work_phone }}</td>
                <td>{{ item.mobile_phone }}</td>
                <td><a class="btn" href="/contact/{{ item.id }}/calls" title="{% trans 'Conversations' %}"><i class="icon-comments-alt icon-large"> </i></a></td>                    
                <td><a class="btn" href="/charts/contact/{{ item.id }}" title="{% trans 'Charts' %}"><i class="icon-bar-chart icon-large"> </i></a></td>
                <td class="center_cb"><input type="checkbox"/></td>
            </tr>
	{% endfor %}
	{% include '_paginator.html' %}
{% else %}
	<tr>
		<td colspan="11">
			{% trans 'No contacts found.' %}			
		</td>
	</tr>	
{% endif %}
