{% load i18n %}
<div>
	<ul class="breadcrumb">
		<li class="active">{% trans 'Contacts'%}</li>	    	
	</ul>    
	
	<div>
		<a id="add_new_contact_btn" class="btn right-margin" href="/contact/add/" title="{% trans 'New Contact' %}"><i class="icon-plus"></i>&nbsp;<i class="icon-user"></i></a>
	</div>	
	<table id='call_contact_table' class="table table-condensed table-striped cb_table-hover">
	    <thead>
	        <tr>
	        	<th class="first_th_minwidth">{% trans 'Edit / Delete' %}</th>	            	
	        	<th>{% trans 'Conversations' %}</th>	                
	            <th>{% trans 'Last Name' %}</th>
	            <th>{% trans 'First Name' %}</th>	                
	            <th>{% trans 'Company' %}</th>	                
	            <th>{% trans 'Important Client' %}</th>
	        </tr>
	    </thead>
	    <tbody id="search_result">
	        {% include 'contact_list.html' %}
	    </tbody>
	</table>
	<div class="modal hide fade" id="business_card_modal" tabindex="-1" role="dialog" aria-labelledby="businesscard_label" aria-hidden="true">
		
	</div>
</div>
