<div class="span12">
    <div class="span6">
        <table class="table edit_table">
            <tbody>
            <tr>
                <td>
                    {{form.first_name.label}}:
                </td>
                <td>
                    {{form.first_name}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.last_name.label}}:
                </td>
                <td>
                    {{form.last_name}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.dear.label}}:
                </td>
                <td>
                    {{form.dear}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.company_name.label}}:
                </td>
                <td>
                    {{form.company_name}}
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.work_phone.label}}:
                </td>
                <td>
                    {{form.work_phone}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.mobile_phone.label}}:
                </td>
                <td>
                    {{form.mobile_phone}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.home_phone.label}}:
                </td>
                <td>
                    {{form.home_phone}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.fax_number.label}}:
                </td>
                <td>
                    {{form.fax_number}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="span6">
        <table class="table edit_table">
            <tbody>
            <tr>
                <td>
                    {{form.email.label}}:
                </td>
                <td>
                    {{form.email}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.contact_type.label}}:
                </td>
                <td>
                    {{form.contact_type}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.position.label}}:
                </td>
                <td>
                    {{form.position}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.gender.label}}:
                </td>
                <td>
                    {{form.gender}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.address.label}}:
                </td>
                <td>
                    {{form.address}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.state.label}}:
                </td>
                <td>
                    {{form.state}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.city.label}}:
                </td>
                <td>
                    {{form.city}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.postcode.label}}:
                </td>
                <td>
                    {{form.postcode}}
                </td>
            </tr>
            <tr>
                <td>
                    {{form.country.label}}:
                </td>
                <td>
                    {{form.country}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>