{% load i18n %}
<ul class="breadcrumb">
	<li><a id="back2contacts" href="/">{% trans 'Contacts' %}</a> <span class="divider">></span></li>
	<li class="active">{{template_title}}</li>	    	
</ul>
<form id="contact_form_id" method="post" action=".">
    {% csrf_token %}
    <div class="row-fluid">    	
    	<div class="span10">    	
	        <div class="tabbable"> <!-- Only required for left/right tabs -->
	            <ul class="nav nav-tabs">
	                <li class="active">
	                    <a href="#tab1" data-toggle="tab">{% trans 'Basic' %}</a>
	                </li>
	                <li>
	                    <a href="#tab2" data-toggle="tab">{% trans 'Personal' %}</a>
	                </li>
	                <li>
		                <a href="#tab3" data-toggle="tab">{% trans 'Personality Notes' %}</a>
		            </li>
	            </ul>
	            <div class="tab-content well well-small">
	                <div class="tab-pane active" id="tab1">
	                    {% include "contact_basic.html" %}
	                </div>
	                <div class="tab-pane" id="tab2">                	
	                    {% include "contact_personal.html" %}
	                </div>
	                <div class="tab-pane" id="tab3">        		
		        		<div>
		        			{% if  form.contact_notes.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.contact_notes.label}}: *</div>{%else%}{{form.contact_notes.label}}:{% endif %}
		        		</div>
		        		<div>
		        			{% if form.contact_notes.errors %}
		                	<div class="field field_error">
		                    	{{form.contact_notes}} {{form.contact_notes.errors}}                   	
		                	</div>
		                	{% else %}
		                		{{form.contact_notes}}
		                	{% endif %}
		        		</div>
		    		</div>
	            </div>
	        </div>  
	        <div class="cb_req_legend">{% trans '* Required fields' %}</div>  
	        <input id="contact_save_btn" type="button" value="{% trans 'Save All' %}" class="btn btn-primary" />
	        <input id="contact_cancel_btn" type="button" value="{% trans 'Cancel' %}" class="btn"/>    
    	</div>
    </div>    
</form>