{% load i18n %}
<div>
	<ul class="breadcrumb">
		<li class="active">{% trans 'Deal Templates' %}</li>					    	
	</ul>		
	<div>							    	
    	<a id="new_deal_template_btn" class="btn" href="deal_template/add/" title="{% trans 'New Deal Template' %}"><i class="icon-plus"></i>&nbsp;<i class="icon-tags"></i> </a>		    	
	</div>	
    <table class="table table-condensed table-striped cb_table-hover">
        <thead>
            <tr>
                <th class="first_th_minwidth"></th>
                <th>{% trans 'Deal' %}</th>
                <th>{% trans 'Description' %}</th>    
                <th>{% trans 'Product / Service' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Currency' %}</th>
                <th>{% trans 'Term' %}</th>
                <th>{% trans 'Quantity' %}</th>                
            </tr>
        </thead>
        <tbody id="search_result">
            {% include 'deal_template_list.html'%}
        </tbody>
    </table>    
</div>