{% extends "base.html" %}
{% load i18n %}
{% block external %}

<script type="text/javascript" src="{{ STATIC_URL }}chasebot/chasebot_chosen.js"></script>
{% endblock %}
{% block title %}{{ template_title }}{% endblock %}
{% block head %}<i class="icon-tag"></i> {{ template_title }}{% endblock %}
{% block content %}
<ul class="breadcrumb">
	<li><a href="/">{% trans 'Home' %}</a> <span class="divider">></span></li>
	<li><a href="/deals/">{% trans 'Deals' %}</a> <span class="divider">></span></li>
	<li class="active">{% trans 'New Deal Template'%}</li>	    	
</ul>
<form method="post" action=".">
    {% csrf_token %}
    <div class="row-fluid">
    	<div class="span2 well well-small">
    		<p>
    			{%blocktrans%}You may specify the deal and add your sales items to this deal.{%endblocktrans%}
    		</p>    		
    		<p>
    			{%blocktrans%}Keep in mind that this is just a template. You may always change these values later on, when negotiating the actual deal with your client.{%endblocktrans%}
    		</p>
    	</div>
    	<div class="span10 well well-small">  
	        <div class="span12">
			    <div class="span6">
			        <table class="table no_border_table table-condensed">
			            <tbody>		            	
			                <tr>
			                    <td>
			                    	{% if  form.deal_name.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.deal_name.label}}: *</div>{%else%}{{form.deal_name.label}}:{% endif %}                       
			                    </td>
			                    <td>                        
			                        {% if form.deal_name.errors %}
				                	<div class="field field_error">
				                    	{{form.deal_name}} {{form.deal_name.errors}}                   	
				                	</div>
				                	{% else %}
				                		{{form.deal_name}}
				                	{% endif %}                        
			                    </td>
			                </tr>                
			                <tr>
			                    <td>              
			                    	{% if  form.deal_description.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.deal_description.label}}: *</div>{%else%}{{form.deal_description.label}}:{% endif %}          
			                    </td>
			                    <td>                        
			                        {% if form.deal_description.errors %}
				                	<div class="field field_error">
				                    	{{form.deal_description}} {{form.deal_description.errors}}                   	
				                	</div>
				                	{% else %}
				                		{{form.deal_description}}
				                	{% endif %}                        
			                    </td>
			                </tr> 	                
			            </tbody>
			        </table>
			    </div>
			    <div class="span6">
			        <table class="table no_border_table table-condensed">
			            <tbody>
			            	<tr>
			                    <td>          
			                    	{% if  form.sales_item.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.sales_item.label}}: *</div>{%else%}{{form.sales_item.label}}:{% endif %}              
			                    </td>
			                    <td>                        
			                        {% if form.sales_item.errors %}
				                	<div class="field field_error">
				                		<a class="btn modal_link_sales_item cb_btn" href="/sales_items" title="{% trans 'Add New Sales Item' %}"><i class="icon-barcode"></i> {% trans 'New / Edit' %}</a>
				                    	{{form.sales_item}} {{form.sales_item.errors}}                   	
				                	</div>
				                	{% else %}
				                	<div class="input-append">
				                		{{form.sales_item}}		
				                		<a class="btn modal_link_sales_item cb_btn" href="/sales_items" title="{% trans 'Add New Sales Item' %}"><i class="icon-barcode"></i> {% trans 'New / Edit' %}</a>
				                	</div>		                		
				                	{% endif %}			                	       
			                    </td>
			                </tr>		                
			                <tr>
			                    <td>
			                        {% if  form.price.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.price.label}}: *</div>{%else%}{{form.price.label}}:{% endif %}
			                    </td>
			                    <td>                        
			                        {% if form.price.errors %}
				                	<div class="field field_error">
				                    	{{form.price}} {{form.price.errors}}                   	
				                	</div>
				                	{% else %}
				                		{{form.price}}
				                	{% endif %}                        
			                    </td>
			                </tr>
			                <tr>
			                    <td>
			                        {% if  form.currency.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.currency.label}}: *</div>{%else%}{{form.currency.label}}:{% endif %}
			                    </td>
			                    <td>                        
			                        {% if form.currency.errors %}
				                	<div class="field field_error">
				                    	{{form.currency}} {{form.currency.errors}}                   	
				                	</div>
				                	{% else %}
				                		{{form.currency}}
				                	{% endif %}                        
			                    </td>
			                </tr>
			                <tr>
			                    <td>
			                    	{% if  form.sales_term.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.sales_term.label}}: *</div>{%else%}{{form.sales_term.label}}:{% endif %}                        
			                    </td>
			                    <td>                        
			                        {% if form.sales_term.errors %}
				                	<div class="field field_error">
				                    	{{form.sales_term}} {{form.sales_term.errors}}                   	
				                	</div>
				                	{% else %}
				                		{{form.sales_term}}
				                	{% endif %}                        
			                    </td>
			                </tr>
			                <tr>
			                    <td>
			                    	{% if  form.quantity.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.quantity.label}}: *</div>{%else%}{{form.quantity.label}}:{% endif %}			                        
			                    </td>
			                    <td>                        
			                        {% if form.quantity.errors %}
				                	<div class="field field_error">
				                    	{{form.quantity}} {{form.quantity.errors}}                   	
				                	</div>
				                	{% else %}
				                		{{form.quantity}}
				                	{% endif %}                        
			                    </td>
			                </tr>                
			            </tbody>
			        </table>
			    </div>
			</div>
			<div class="cb_req_legend">{% trans '* Required fields' %}</div> 
			<input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" />
        	<input name="cancel" type="button" value="{% trans 'Cancel' %}" class="btn" onclick="history.go(-1)"/>
     	</div>
	</div>    
</form>
<div class="modal hide" id="salesitems_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">				
</div>		
{% endblock %}