{% load i18n %}
<div class="modal-header">
	<button type="button" class="close close_link" data-dismiss="modal" aria-hidden="true">&times;</button>	
	<h3>
		<div id="modal_icon" class="cb_inline_block" style="font-size: 24px;"><i class="icon-tag"></i></div>
		<div id="modal_h3" class="cb_inline_block"></div>
	</h3>
</div>
<div id="deal_modal_body" class="modal-body form-inline">
	
</div>
<div class="hidden" id="modal_type">deal_modal</div>
<div class="modal-footer">
	<a id="deal_modal_confirm_btn" href="#" class="btn btn-primary" >{% trans 'Confirm' %}</a>
	<a href="#" class="btn close_link" data-dismiss="modal">{% trans 'Cancel' %}</a>		
</div>