{% load i18n %}
{% if deal_templates %}
	{% for item in deal_templates %}
	    <tr>
	        <td>	        	
	            <a class="btn btn-link-left deal_template_edit_btn" href="deal_template/edit/{{ item.id }}/" title="{% trans 'Edit' %}"><i class="icon-pencil icon-large"></i></a>
	            <a class="btn row_delete_ajax" href="/deal/delete/{{ item.id }}/" title="{% trans 'Delete' %}"><i class="icon-trash icon-large"></i></a>	            
	        </td>
	        <td>{{ item.deal_name }}</td>
	        <td><div class="cb_notes">{{ item.deal_description }}</div></td>             
	        <td>
	        	{% for item in item.product.all %}
	        		<span class="badge">{{item}}</span> 
	        	{% endfor %}
	    	</td>
	        <td>{{ item.price }}</td>
	        <td><span class="badge badge-success">{{ item.currency }}</span></td>
	        <td><span class="badge badge-info">{{ item.sales_term }}</span></td>
	        <td>{{ item.quantity }}</td>
	    </tr>
	{% endfor %}
	{% include '_paginator.html' %}
{% else %}
	<tr>		
		<td colspan="8">
			{% trans 'No deal templates found.' %}
		</td>
	</tr>
	
{% endif %}
