{% load i18n %}
{% if deals %}
	{% for item in deals %}
	    <tr>
	        <td>	        	
	            <a class="btn btn-link-left" href="/deal/edit/{{ item.id }}" title="{% trans 'Edit' %}"><i class="icon-pencil icon-large"></i></a>
	            <a class="btn row_delete_ajax" href="/deal/delete/{{ item.id }}/" title="{% trans 'Delete' %}"><i class="icon-trash icon-large"></i></a>	            
	        </td>
	        <td>{{ item.deal_name }}</td>
	        <td>{{ item.deal_description }}</td>             
	        <td>
	        	{% for item in item.sales_item.all %}
	        		<span class="badge">{{item}}</span> 
	        	{% endfor %}
	    	</td>
	        <td>{{ item.price }}</td>
	        <td>{{ item.currency }}</td>
	        <td>{{ item.sales_term }}</td>
	        <td>{{ item.quantity }}</td>
	        <td>{{ item.status }}</td>                           
	    </tr>
	{% endfor %}
	{% include '_paginator.html' %}
{% else %}
	<tr>		
		<td colspan="8">
			{% trans 'No deals found.' %}
		</td>
	</tr>
	
{% endif %}
