{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Chasebot - Inventory' %}{% endblock %}
{% block head %}<i class="icon-tags"></i> {% trans 'Inventory' %}{% endblock %}
{% block external %}

{% endblock %}
{% block content %}
<ul class="breadcrumb">
	<li><a href="/">{% trans 'Home' %}</a> <span class="divider">></span></li>
	<li class="active">{% trans 'Inventory'%}</li>	    	
</ul>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content-->
			<h4>{% trans 'Filter' %}</h4>
			<p>{% trans 'Choose the filters below to find a specific deal.' %}</p>
			{% trans 'Deal Name' %}	
			<form action="." method="get" class="form-search cb_zero_margin form-filter-ajax">	    				
				<div class="input-append filter-container">
				{{filter_form.deal_name}}<div class="close filter-close">&times;</div><button type="submit" class="btn"><i class='icon-filter'> </i></button>
				</div>				
        	</form>
        	{% trans 'Sales Item' %}
        	<form action="." method="get" class="form-search cb_zero_margin form-filter-ajax">	    				
				<div class="input-append filter-container">
				{{filter_form.sales_item}}<div class="close filter-close">&times;</div><button type="submit" class="btn"><i class='icon-filter'> </i></button>
				</div>				
        	</form> 
        	{% trans 'Price' %}
        	<form action="." method="get" class="form-search cb_zero_margin form-filter-ajax">
				<div class="input-append filter-container">
				{{filter_form.price}}<div class="close filter-close">&times;</div><button type="submit" class="btn"><i class='icon-filter'> </i></button>
				</div>
        	</form>
        	{% trans 'Term' %}
        	<form action="." method="get" class="form-search cb_zero_margin form-filter-ajax">
				<div class="input-append filter-container">
				{{filter_form.sales_term}}<div class="close filter-close">&times;</div><button type="submit" class="btn"><i class='icon-filter'> </i></button>
				</div>				
        	</form>
        	{% trans 'Quantity' %}
        	<form action="." method="get" class="form-search cb_zero_margin form-filter-ajax">
				<div class="input-append filter-container">
				{{filter_form.quantity}}<div class="close filter-close">&times;</div><button type="submit" class="btn"><i class='icon-filter'> </i></button>
				</div>				
        	</form>  
		 </div>
		<div class="span10">
			<!--Body content-->			
			<div>
				<a class="btn right-margin" href="/" title="{% trans 'Back to Main Screen' %}"><i class="icon-arrow-left"> </i></a>
		    	<a class="btn right-margin" href="/deal/add" title="{% trans 'New Deal Template' %}"><i class="icon-tag"></i> {% trans 'New Deal' %}</a>
		    	<a class="btn modal_link" href="/sales_items" title="{% trans 'Sale Items for Deals' %}"><i class="icon-gift"></i> {% trans 'Sales Items' %}</a>
			</div>
			<div class="modal hide" id="salesitems_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">				
			</div>		
		    <table class="table">
		        <thead>
		            <tr>
		                <th class="first_th_minwidth"></th>
		                <th>{% trans 'Deal' %}</th>
		                <th>{% trans 'Description' %}</th>    
		                <th>{% trans 'Item' %}</th>
		                <th>{% trans 'Price' %}</th>
		                <th>{% trans 'Currency' %}</th>
		                <th>{% trans 'Term' %}</th>
		                <th>{% trans 'Quantity' %}</th>                
		            </tr>
		        </thead>
		        <tbody id="search_result">
		            {% include 'deal_list.html'%}
		        </tbody>
		    </table>    
		</div>
	</div>
</div> 
{% endblock %}