{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Chasebot - Deals' %}{% endblock %}
{% block head %}{% trans 'Deals' %}{% endblock %}
{% block external %}
<script type="text/javascript" src="{{ STATIC_URL }}chasebot/chasebot_base.js" ></script>
{% endblock %}
{% block content %}    
	<div>
		<a class="btn" href="/" title="{% trans 'Back to Main Screen' %}"><i class="icon-arrow-left"> </i></a>
    	<a class="btn" href="/deal/add" title="{% trans 'New Deal' %}"><i class="icon-plus"> </i><i class="icon-tag"> </i></a>
    	<a class="btn" href="/sales_items" title="{% trans 'Sales Items for Deals' %}"><i class="icon-glass"> </i></a>
	</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                	<form action="." method="get" class="form-search cb_zero_margin form-filter-ajax">	    				
	    				<div class="input-append">
	    				{{filter_form.deal_name}}<button type="button" class="btn filter_button"><i class='icon-filter'> </i></button>
	    				</div>	   
	    				{% trans 'Deal' %}
                	</form>
            	</th>
                <th>
                	{% trans 'Description' %}
            	</th>    
                <th>
                	<form action="." method="get" class="form-search cb_zero_margin form-filter-ajax">	    				
	    				<div class="input-append">
	    				{{filter_form.sales_item}}<button type="button" class="btn filter_button"><i class='icon-filter'> </i></button>
	    				</div>	    
	    				{% trans 'Item' %}
                	</form>                	
            	</th>
                <th>
                	<form action="." method="get" class="form-search cb_zero_margin form-filter-ajax">
	    				<div class="input-append">
	    				{{filter_form.price}}<button type="button" class="btn filter_button"><i class='icon-filter'> </i></button>
	    				</div> 
	    				{% trans 'Price' %}
                	</form>                	
            	</th>
                <th>
                	<form action="." method="get" class="form-search cb_zero_margin form-filter-ajax">
	    				<div class="input-append">
	    				{{filter_form.sales_term}}<button type="button" class="btn filter_button"><i class='icon-filter'> </i></button>
	    				</div>	   
	    				{% trans 'Term' %}
                	</form>                	
            	</th>
                <th>
                	<form action="." method="get" class="form-search cb_zero_margin form-filter-ajax">
	    				<div class="input-append">
	    				{{filter_form.quantity}}<button type="button" class="btn filter_button"><i class='icon-filter'> </i></button>
	    				</div>	  
	    				{% trans 'Quantity' %}
                	</form>                	
            	</th>                
            </tr>
        </thead>
        <tbody id="search_result">
            {% include 'deals_list.html'%}
        </tbody>
    </table>    
{% endblock %}