{% load i18n %}
<div>	
	<div class="modal-header">
		<button type="button" class="close close_link" data-dismiss="modal" aria-hidden="true">&times;</button>	
		<h3><div class="cb_inline_block" style="font-size: 24px;"><i class="icon-tasks"></i></div> {{template_title}}</h3>
	</div>
	<div class="modal-body">	
	    <div class="row-fluid">
		    <div class="span12">
		    	<form id="event_form" method="post" action=".">
		    		{% csrf_token %}
			    	<div class="parent">	    	
				    	<div class="well">				    		
				    		{% show_row_div form.due_datetime ignore_error_text=True %}
				    		<div class="field field_error">{{form.due_datetime.errors}}</div>
				    		{% show_row_time_div form.due_time %}
				    		{% show_row_div form.reminder %}
				    	</div>				    	
				    	
				    	<div>
				    		{% show_row_div form.notes %}
				    		{% show_row_div form.type %}							    									    		
				    		
				    	</div>
				    	<!-- <div class="accordion" id="accordion_event">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a id="collapse_event_head" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_event" href="#collapse_event_body">{% trans 'More Details' %}</a>
								</div>
								<div id="collapse_event_body" class="accordion-body collapse">
									<div class="accordion-inner">								
							    		{% show_row_div form.type %}							    									    		
							    		{% show_row_div form.is_public %}				    						    		
							    	</div>								
								</div>
							</div>
			    		</div> -->
		    		</div>
			    	<div class="pull-right">
				    	<input type="submit" value="{% trans 'Save Event' %}" class="btn btn-primary right-margin" />
		        		<input name="cancel" type="button" value="{% trans 'Cancel' %}" class="btn close_link" data-dismiss="modal"/>	        			
	        		</div> 
		    	</form>	        
		    </div>
		</div>
	</div>
	<div class="hidden" id="validation_error_ajax">{{validation_error_ajax}}</div>
	<div class="hidden" id="user_date">{{user_date}}</div>	
</div>