{% load i18n %}
{% load l10n %}
{% for event in events %}
	<tr>
		<td>	    	                        	
	        <a class="btn btn-small btn-link-left row_edit_task" href="/task/edit/{{ task.pk }}/?contact={{contact_id}}" title="{% trans 'Edit Task' %}"> <i class="icon-pencil"> </i></a>
	        <a class="btn btn-small row_delete_ajax" href="/task/delete/{{ task.pk }}/?contact={{contact_id}}" title="{% trans 'Delete Task' %}"><i class="icon-trash"> </i></a>	        
	    </td>
	    <td>{{event.title}}</td>
		<td>{{event.type}}</td>
		<td>{{event.due_date_time}}</td>
		<td>{{event.reminder_date_time|date:"DATE_FORMAT"}}}</td>
		<td>{{event.reminder_date_time|time:"TIME_FORMAT"}}}</td>
		<td>{{event.reminder}}</td>
		<td>{{event.deal_id}}</td>
		<td>{{event.notes}}</td>		
	</tr>
{% endfor %}
