{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Home' %}{% endblock %}
{% block head %}{{ company_name }}{% endblock %}
{% block external %}{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div id="sidebar" class="span2">
			<!--Sidebar content-->	 
		</div>
		<div class="span10">
			<!--Body content-->	 			
			<ul id="main_tabs" class="nav nav-tabs">
	            <li class="active">
	                <a href="#tab_todo" data-toggle="tab">{% trans 'To-Do' %}</a>
	            </li>
	            <li>
	                <a href="#tab_contacts" data-toggle="tab">{% trans 'Contacts' %}</a>
	            </li>
	            <li>
	                <a href="#tab_open_deals" data-toggle="tab">{% trans 'Open Deals' %}</a>
	            </li>
	            <li>
	                <a href="#tab_deal_templates" data-toggle="tab">{% trans 'Deal Templates' %}</a>
	            </li>
	            <li>
	                <a href="#tab_sales_items" data-toggle="tab">{% trans 'Products / Services' %}</a>
	            </li>
	        </ul>
	        <div class="tab-content">
                <div class="tab-pane active" id="tab_todo">
                    
                </div>
                <div class="tab-pane" id="tab_contacts">                	

                </div>
                <div class="tab-pane" id="tab_open_deals">                	

                </div>
                <div class="tab-pane" id="tab_deal_templates">                	

                </div>
                <div class="tab-pane" id="tab_sales_items">                	

                </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}