{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Chasebot - Home' %}{% endblock %}
{% block head %}{{ company_name }}{% endblock %}
{% block external %}
	<script type="text/javascript" src="{{ STATIC_URL }}chasebot/chasebot_base.js" ></script>	
{% endblock %}
{% block content %}

<p>{% trans 'Welcome back' %} {{ user.username }}.</p>
	<div>
		<a class="btn btn-success" href="/contact/add" title="{% trans 'New Contact' %}"><i class="icon-plus"></i><i class="icon-user"> </i></a>
        <a class="btn btn-success btn-success2" href="/deals" title="{% trans 'Deals' %}"><i class="icon-tags"></i> {% trans 'Deals' %}</a>
	</div>	
    <table class="table">
        <thead>
            <tr>
            	<th></th>
                <th>
                	<form action="." method="get" class="form-search form_no_margin">	    				
	    				<div class="input-append">
	    				{{filter_form.last_name}}<button type="button" class="btn filter_button"><i class='icon-filter'> </i></button>
	    				</div>	   <br> 
	    				{% trans 'Last Name' %}	    								
                	</form>  
                </th>
                <th>
                	<form action="." method="get" class="form-search form_no_margin">	    				
	    				<div class="input-append">
	    				{{filter_form.first_name}}<button type="button" class="btn filter_button"><i class='icon-filter'> </i></button>
	    				</div>	   <br> 
	    				{% trans 'First Name' %}	    								
                	</form>
            	</th>
                <th>{% trans 'Dear' %}</th>
                <th>
                	<form action="." method="get" class="form-search form_no_margin">	    				
	    				<div class="input-append">
	    				{{filter_form.company}}<button type="button" class="btn filter_button"><i class='icon-filter'> </i></button>
	    				</div>	   <br> 
	    				{% trans 'Company' %}	    								
                	</form>                	
            	</th>
                <th>
                	<form action="." method="get" class="form-search form_no_margin">	    				
	    				<div class="input-append">
	    				{{filter_form.email}}<button type="button" class="btn filter_button"><i class='icon-filter'> </i></button>
	    				</div>	   <br> 
	    				{% trans 'Email' %}	    								
                	</form>                	
            	</th>
                <th>{% trans 'Work Phone' %}</th>
                <th>{% trans 'Cell Phone' %}</th>
                <th>{% trans 'Conversations' %}</th>
                <th>{% trans 'Charts' %}</th>
                <th>{% trans 'Important Client' %}</th>
            </tr>
        </thead>
        <tbody id="search_result">
            {% include 'contacts_list.html' %}
        </tbody>
    </table>
     {% if show_paginator %}
	    <div class="paginator">
	      {% if has_prev %}
	        <a href="?page={{ prev_page }}">&laquo; Previous</a>
	      {% endif %}
	      {% if has_next %}
	        <a href="?page={{ next_page }}">Next &raquo;</a>
	      {% endif %}
	      (Page {{ page }} of {{ pages }})
	    </div>
  	{% endif %}
   

{% endblock %}