{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Chasebot - Home' %}{% endblock %}
{% block head %}{{ company_name }}{% endblock %}
{% block external %}
	<script type="text/javascript" src="{{ STATIC_URL }}jqPlot/plugins/jqplot.pieRenderer.min.js"></script>
{% endblock %}
{% block content %}
{% if user.username %}
    <p>{% trans 'Welcome back' %} {{ user.username }}.</p>
    
        <table class="table">
            <thead>
                <tr>
                    <th><a class="contact" href="/contact/add" data-form="" title="{% trans 'New Contact' %}"><button class="btn btn-success"><i class="icon-plus"></i><i class="icon-user"></i></button></a>
                    	<a href="/deals" title="{% trans 'Deals' %}"><button class="btn btn-success"><i class="icon-tags"> </i></button></a>
                    </th>
                    <th>{% trans 'Last Name' %}</th>
                    <th>{% trans 'First Name' %}</th>
                    <th>{% trans 'Dear' %}</th>
                    <th>{% trans 'Company' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'Work Phone' %}</th>
                    <th>{% trans 'Cell Phone' %}</th>
                    <th>{% trans 'Conversations' %}</th>
                    <th>{% trans 'Charts' %}</th>
                    <th>{% trans 'Important Client' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in contacts %}
                <tr>
                    <td>
                        <a class="contact" href="/contact/edit/{{ item.id }}" data-form="/contact/edit/{{ item.id }}" title="{% trans 'Edit Contact' %}"><button class="btn-tiny"><i class="icon-pencil"> </i></button></a>
                        <a href="/contact/delete/{{ item.id }}" title="{% trans 'Delete Contact' %}"><button class="btn-tiny"><i class="icon-trash"> </i></button></a>
                    </td>
                    <td>{{ item.last_name }}</td>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.dear }}</td>
                    <td>{{ item.company_name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.work_phone }}</td>
                    <td>{{ item.mobile_phone }}</td>
                    <td><a href="/contact/{{ item.id }}/calls" title="{% trans 'Conversations' %}"><button class="btn btn-success"><i class="icon-comment"></i></button></a></td>                    
                    <td><a href="/charts/contact/{{ item.id }}" title="{% trans 'Charts' %}"><button class="btn btn-success"><i class="icon-road"> </i></button></a></td>
                    <td class="center_cb"><input type="checkbox"/></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--<div class="modal hide" id="contactModal">-->
        <!--</div>-->
        <!--<script>-->
            <!--$(".contact").click(function(ev) { // for each edit contact url-->
                <!--ev.preventDefault(); // prevent navigation-->
                <!--var url = $(this).data("form"); // get the contact form url-->
                <!--$("#contactModal").load(url, function() { // load the url into the modal-->
                    <!--$(this).modal('show'); // display the modal on url load-->
                <!--});-->
                <!--return false; // prevent the click propagation-->
            <!--})-->
        <!--</script>-->
    
{% else %}
    <p>{% trans 'Welcome anonymous user! You need to' %} <a href ="/login/">{% trans 'login' %}</a> {% trans 'before you can use Chasebot' %}.</p>
{% endif %}

{% endblock %}