{% load i18n %}
<div class="well cb_well-small">
	<h4>{% trans 'Filter' %}</h4>
	<p>{% trans 'Choose the filters below to find a specific deal.' %}</p>
	<h5>{% trans 'Deal Name' %}</h5>	
	<form action="open_deals/" method="get" class="form-search cb_zero_margin form-filter-ajax">	    				
		<div class="input-append filter-container">
		{{filter_form.deal_instance_name}}<div class="close filter-close">&times;</div><button type="submit" class="btn"><i class='icon-filter'> </i></button>
		</div>				
	</form>
	<h5>{% trans 'Deal Status' %}</h5>
	<form action="open_deals/" method="get" class="form-search cb_zero_margin form-filter-ajax">	    				
		<div class="input-append filter-container">
		{{filter_form.status}}<div class="close filter-close">&times;</div><button type="submit" class="btn"><i class='icon-filter'> </i></button>
		</div>
	</form> 	
	<h5>{% trans 'Total Value' %}</h5>
	<form action="open_deals/" method="get" class="form-search cb_zero_margin form-filter-ajax">
		<div class="input-append filter-container">
		{{filter_form.total_value}}<div class="close filter-close">&times;</div><button type="submit" class="btn"><i class='icon-filter'> </i></button>
		</div>				
	</form>	
	<h5>{% trans 'Last Contacted On' %}</h5>
	<form action="open_deals/" method="get" class="form-search cb_zero_margin form-filter-ajax">
		<div class="input-append filter-container">
		{{filter_form.last_contacted}}<div class="close filter-close">&times;</div><button type="submit" class="btn"><i class='icon-filter'> </i></button>
		</div>
	</form>
	<div class="hidden" id="user_date">{{user_date}}</div>
</div>