{% load i18n %}
{% load l10n %}
{% for deal in deals %}
	<tr class="open_deal_tr">
	    <td>	    	                        	
	        <a class="btn btn-link-left negotiate_deal_btn" href="open_deals/negotiate/{{ deal.pk }}/" title="{% trans 'Negotiate' %}"> <i class="icon-pencil icon-large"> </i></a>	        
	       	<div id="open_deal_url" class="hidden">/open_deals/{{ deal.pk }}/calls</div>
	       	<div id="open_deal_uuid" class="hidden">{{ deal.deal_id }}</div>
	    </td>
	    <td><a title="{% trans 'See Events and Conversations' %}" class="btn event_calls_btn" data-toggle="button"><i class="icon-tasks"></i>&nbsp;<i class="icon-comments-alt"></i></a></td>	    	 
	    <td><a class="business_card_modal_link" href="contact/{{deal.contact.pk}}/"><i id="magnifier_glass_contacts" class="magnifier_glass icon-user icon-large"></i>{{deal.contact.last_name}}</a></td>
	    <td>{{deal.contact.company_name}}</td>   
	    <td><span class="badge badge-info">{{ deal.deal_instance_name }}</span></td>	                        
	    <td>
	    	{% if deal.status.pk == 1 %}
	    		<span class="badge badge-0">{{ deal.status }}</span>	    	
	    	{% elif deal.status.pk == 2%}
	    		<span class="badge badge-25">{{ deal.status }}</span>
	    	{% elif deal.status.pk == 3%}
	    		<span class="badge badge-50">{{ deal.status }}</span>
	    	{% elif deal.status.pk == 4%}
	    		<span class="badge badge-75">{{ deal.status }}</span>	    		
	    	{% elif deal.status.pk == 5%}
	    		<span class="badge badge-success">{{ deal.status }}</span>
	    	{% elif deal.status.pk == 6%}
	    		<span class="badge badge-important">{{ deal.status }}</span>
	    	{% endif %}
		</td>
	    <td class="number">{{ deal.total_value }}</td>
	    <td class="number">{{ deal.conversation.conversation_datetime|date:"DATE_FORMAT" }}</td>	    
	</tr>
{% endfor %}