{% load i18n %}
<div>
	<ul class="breadcrumb">
		<li class="active">{% trans 'Open Deals'%}</li>	    	
	</ul>    
	
	<div>
		<div id="locale" class="hidden">{{locale}}</div>			
	</div>	
	<table id='open_deal_table' class="table table-condensed cb_table-striped cb_table-hover">
	    <thead>
	        <tr>
	        	<th class="first_th_minwidth"></th>	            	
	        	<th>{% trans 'Deal Name' %}</th>
	        	<th>{% trans 'Status' %}</th>	                
	            <th>{% trans 'Total Value' %}</th>
	            <th>{% trans 'Last Contacted On' %}</th>	            
	        </tr>
	    </thead>
	    <tbody id="search_result">
	        {% include 'open_deals_list.html' %}
	    </tbody>
	</table>	
</div>
