{% load i18n %}
{% load l10n %}
{% for deal in deals %}
	<tr class="open_deal_tr">
	    <td>	    	                        	
	        <a class="btn btn-link-left negotiate_deal_btn hidden2" href="open_deals/negotiate/{{ deal.pk }}/" title="{% trans 'Negotiate' %}"> <i class="icon-phone icon-large"> </i></a>
	       	<div id="open_deal_url" class="hidden">/open_deals/{{ deal.pk }}/calls</div>
	    </td>	    
	    <td><span class="badge badge-info">{{ deal.deal_instance_name }}</span></td>	                        
	    <td>{{ deal.status }}</td>
	    <td>{{ deal.total_price }}</td>
	    <td>{{ deal.conversation.conversation_datetime|date:"DATE_FORMAT" }}</td>	    
	</tr>
{% endfor %}