{% load i18n %}
<form id="save-add-form" class="span6" method="post" action="/sales_item/add/">
    {% csrf_token %}    
        <table class="table edit_table table-condensed">
            <tbody>
                <tr>
                    <td>                        
                        <p>{% trans 'Add a new Sales Item' %}: {% if  form.item_name.field.required %} *{% endif %}</p>
                    </td>
                    <td class="input-append">                        
                        {% if form.item_name.errors %}
	                	<div class="field field_error">
	                    	{{form.item_name}}
	                    	<input class="btn btn-primary" type="submit" value="{% trans 'Add' %}" class="btn btn-primary" />
	                    	{{form.item_name.errors}}                   	
	                	</div>
	                	{% else %}
	                		{{form.item_name}}
	                		<input class="btn btn-primary" type="submit" value="{% trans 'Add' %}" class="btn btn-primary" />
	                	{% endif %}	                	                        
                    </td>                    
                </tr>
            </tbody>
        </table>                
        <div class="validation_error_ajax hidden">{{validation_error_ajax}}</div>    
</form>