{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Chasebot - Sales Items' %}{% endblock %}
{% block head %}{% trans 'Chasebot - Sales Items' %}{% endblock %}
{% block external %}
{% endblock %}
{% block content %}    
    <table class="table">
        <thead>
            <tr>
                <th><a class="btn btn-success" href="/deals" title="{% trans 'Back to Deals' %}"><i class="icon-arrow-left"> </i></a>
                	<a class="contact" href="/sales_item/add" title="{% trans 'New Sales Item' %}"><i class="icon-plus"> </i></a>
                	
                </th>
                <th>{% trans 'Sales Item' %}</th>                    
            </tr>
        </thead>
        <tbody>
            {% for item in sales_items %}
            <tr>
                <td>
                    <a href="/sales_item/edit/{{ item.id }}" title="{% trans 'Edit' %}"><i class="icon-pencil"> </i></a>
                    <a href="/sales_item/delete/{{ item.id }}" title="{% trans 'Delete' %}"><i class="icon-trash"> </i></a>
                </td>
                <td>{{ item.item_description }}</td>                    
            </tr>
            {% endfor %}
        </tbody>
    </table>        
{% endblock %}