{% load i18n %}
<form class="span7 save-edit-form" method="post" action="/sales_item/edit/{{ salesitem_id }}">
    {% csrf_token %}    
        <table class="table edit_table table-condensed">
            <tbody>
                <tr>
                    <td>                        
                        {{form.item_description.label}}: {% if  form.item_description.field.required %} *{% endif %}
                    </td>
                    <td class="input-append">                        
                        {% if form.item_description.errors %}
	                	<div class="field field_error">
	                    	{{form.item_description}}
	                    	<input name="submit-button" type="submit" value="{% trans 'Save' %}" class="btn btn-primary" />
        					<input name="cancel" type="button" class="cancel_edit_button" value="{% trans 'Cancel' %}" class="btn" />	                    	
	                    	{{form.item_description.errors}}
	                    	<div class="salesitem_id hidden">{{salesitem_id}}</div>                     	
	                	</div>
	                	{% else %}
	                		{{form.item_description}}
	                		<input name="submit-button" type="submit" value="{% trans 'Save' %}" class="btn btn-primary" />
        					<input name="cancel" type="button" class="cancel_edit_button" value="{% trans 'Cancel' %}" class="btn" />		 
	                	{% endif %}
	                	<div class="salesitem_id hidden">{{salesitem_id}}</div>                        
                    </td>
                </tr>
            </tbody>
        </table>        
        <div class="hidden validation_error_ajax">{{validation_error_ajax}}</div>    
</form>

