{% load i18n %}
<td></td>
<td colspan="2">
	<form id="save_add_form" class="span6" method="post" action="/sales_item/add/">
	    {% csrf_token %}    
	        <table class="table edit_table table-condensed">	        	
	            <tbody>
	                <tr>
	                    <td class="add_sales_item_mindwidth">	                    	                     
	                    	<p>{% if  form.item_name.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{% trans 'Add a new Sales Item' %}: *</div>{%else%}{% trans 'Add a new Sales Item' %}:{% endif %}</p>
	                    </td>
	                    <td class="input-append">                        
	                        {% if form.item_name.errors %}
		                	<div class="field field_error">
		                    	{{form.item_name}}
		                    	<input class="btn btn-primary" type="submit" value="{% trans 'Add' %}" class="btn btn-primary" />
		                    	{{form.item_name.errors}}                   	
		                	</div>
		                	{% else %}
		                		{{form.item_name}}
		                		<input class="btn btn-primary" type="submit" value="{% trans 'Add' %}" class="btn btn-primary" />
		                	{% endif %}	                	                        
	                    </td>                    
	                </tr>
	            </tbody>
	        </table>                
	        <div id="validation_error_ajax" class="hidden">{{validation_error_ajax}}</div>    
	</form>
</td>
<td></td>