{% load i18n %}
<td colspan="2">
	<form id="save_edit_form" method="post" action="/sales_item/edit/{{ salesitem_id }}">
	    {% csrf_token %}    
	        <table class="table edit_table table-condensed">
	            <tbody>
	                <tr>
	                	<td>
	                		<a id="save_edit_button" value="{% trans 'Save' %}" class="btn btn-primary"><i class="icon-ok icon-large"></i></a>
	            			<a id="cancel_edit_button" href="/sales_item/{{ salesitem_id }}" value="{% trans 'Cancel' %}" class="btn"><i class="icon-remove icon-large"></i></a>
	                	</td>
	                    <!-- <td>
	                    	{% if  form.item_name.field.required %}<div class="cb_inline_block" rel="tooltip" title="Required Field">{{form.item_name.label}}: *</div>{%else%}{{form.item_name.label}}:{% endif %}                       
	                    </td> -->
                        {% if form.item_name.errors %}
                        <td class="input-append">
		                	<div class="field field_error">
		                    	{{form.item_name}}		                    		                    	
		                    	{{form.item_name.errors}}		                    	                     	
	                		</div>
                		</td>
	                	{% else %}	
	                	<td>	                			                    	
	                		{{form.item_name}}
                		</td>		                    	
	                	{% endif %}	                    
	                </tr>
	            </tbody>
	        </table>        
	        <div id="validation_error_ajax" class="hidden">{{validation_error_ajax}}</div>    
	</form>
</td>

