{% load i18n %}
<td colspan="2">
	<form id="save_add_form" method="post" action="/sales_item/add/">
	    {% csrf_token %}    
	        <table class="table no_border_table table-condensed">	        	
	            <tbody>
	                <tr>
	                    <td>	                    	                     
	                    	<p>{% if  form.item_name.field.required %}<div class="cb_inline_block right-aligned" rel="tooltip" title="Required Field">{% trans 'Add a new Sales Item' %}: *</div>{%else%}{% trans 'Add a new Sales Item' %}:{% endif %}</p>
	                    </td>
	                    <td>                        
	                        {% if form.item_name.errors %}
		                	<div class="field field_error">
		                		<div class="input-append">
			                    	{{form.item_name}}
			                    	<input class="btn btn-primary cb_btn_firefox_fix" type="submit" value="{% trans 'Add' %}" class="btn btn-primary" />
		                    	</div>		                    	
		                    	{{form.item_name.errors}}                   	
		                	</div>
		                	{% else %}
		                		<div class="input-append">
		                			{{form.item_name}}
		                			<input class="btn btn-primary cb_btn_firefox_fix" type="submit" value="{% trans 'Add' %}" class="btn btn-primary" />
		                		</div>		                		
		                	{% endif %}	                	                        
	                    </td>                    
	                </tr>
	            </tbody>
	        </table>                
	        <div id="validation_error_ajax" class="hidden">{{validation_error_ajax}}</div>    
	</form>
</td>
