{% load i18n %}

<div class="modal-header">
	<button type="button" class="close close_link" data-dismiss="modal" aria-hidden="true">&times;</button>	
	<h3><div class="cb_inline_block" style="font-size: 24px;"><i class="icon-tasks"></i></div> {{template_title}}</h3>
</div>
<div class="modal-body">	
    <div class="row-fluid">
	    <div class="span12">
	    	<div class="parent">	    	
		    	<div class="well">
		    		{% show_row_div form.title %}
		    		{% show_row_div form.due_date_time %}
		    	</div>
		    	<div>
		    		{% show_row_div form.type %}
		    		{% show_row_div form.reminder %}	
		    		{% show_row_div form.priority %}	
		    		{% show_row_div form.is_public %}
		    		
		    		{% show_row_div form.contact %}
		    		{% show_row_div opendeals_task_form.open_deal_task %}
		    	</div>
		    	<input type="submit" value="{% trans 'Add Task' %}" class="btn btn-primary" />
        		<input name="cancel" type="button" value="{% trans 'Cancel' %}" class="btn" onclick="history.go(-1)"/>
	    	</div>	        
	    </div>
	</div>
</div>

<div class="hidden" id="modal_type">tasks</div>
<div class="modal-footer">
	<a href="#" class="btn close_link" data-dismiss="modal">{% trans 'Close' %}</a>	
</div>