{% load i18n %}
<!--Sidebar content-->
<div class="well cb_well-small">	
	<div class="accordion" id="accordion_sidebar">
		<div class="accordion-group accordion-group-cb">
			<div class="accordion-heading">
				<a class="accordion-toggle accordion-inner-lesspadding" data-toggle="collapse" data-parent="#accordion_sidebar" href="#collapsetodo1"><h5>{% trans 'How does it work?' %}</h5></a>
			</div>
			<div id="collapsetodo1" class="accordion-body collapse">
				<div class="accordion-inner accordion-inner-lesspadding">
					<p>{% blocktrans %}Boost your productivity by using the “Open Deal” tab, where all in-progress deals are shown and you control how to prioritize the deal list based on progress, value, or age.{% endblocktrans %}</p>
					<p>{% blocktrans %}A simple click on a deal reveals the historical conversations as well as any upcoming event. Further, you may edit the deal's progress and price.{% endblocktrans %}</p>
				</div>
			</div>
		</div>
		<div class="accordion-group accordion-group-cb hide">
			<div class="accordion-heading">
				<a class="accordion-toggle accordion-inner-lesspadding" data-toggle="collapse" data-parent="#accordion_sidebar" href="#collapsetodo2"><h5>{% trans "How to make a new deal?" %}</h5></a>
			</div>
			<div id="collapsetodo2" class="accordion-body collapse">
				<div class="accordion-inner accordion-inner-lesspadding">
					<p>{% blocktrans with symbol="<i class='icon-comments-alt icon-large'></i>" pic="<img src='/static/img/attach.png'>" %}In the 'Contacts' tab, select the contact you would like to make a sale to. Then, click on {{symbol}} to add a new conversation and attach a new deal {{pic}}.{% endblocktrans %} </p>
					<p>{% blocktrans %}You can attach a new deal from existing templates or attach a new deal from scratch. Once the conversation is saved, the attached deal will appear from now on in the "Open Deals" tab, where it can be negotiated.{% endblocktrans %}</p>
				</div>
			</div>
		</div>
	</div>
	